*.iml
.gradle
.idea
Marketplace.iml
settings.gradle
local.properties
gradlew.bat
gradlew
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
